* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica !important;
    min-height: 100vh;
    background: gray;
}

#div1 {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size : 25rem;;
}

#div2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#div2 button {
    padding: 15px;
    border-radius: 15px;
    border: 0;
    font-size: 50px;
}

#div2 button:nth-child(n+2) {
    margin-left: 10px;
}